:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
body, aside {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
 
}

p {
  margin: 0;
}


svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}


@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

#required-elements {

  display: flex;

  h2{
    color: #ED7839;

  }
  .cabecalho-elementos{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
  }
  .corpo{
    width: 100%;
    margin-top: 80px;
    margin-left: 240px;
  }

  aside{
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vw;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px  #e7e7e7;
    
  }
  aside h3{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ED7839;
    color: #eee;
    height: 68px;
    width: 220px;
    font-size: 38px;
  }

  aside img{
    width:220px;
    height: 258px;
  }
  aside .aside-menu {
    display: block;
    height: 220px; 
  }

  aside p{
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #e7e7e7 ;
    height: 33px;
    width: 220px;
    padding: 5px;
    box-shadow: 5px 5px 5px  #e7e7e7;
  }
  aside p:hover{
    background-color: #c2c3c4;
    border-left: 2px solid #ED7839;
  }
  .header {
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8dacb;  
    padding: 0 ;
    box-sizing: border-box;
  }
  .header h3{
    margin-left: 240px;

    font-size: 18px;
    width: 70% ;
    justify-self: flex-start;
  }
  .header p{
    margin-left: 240px;
    font-size: 12px;
  }
  .header button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 34px;
    background-color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
    
  }
  .header button img{
    width: 22px;
    height: 22px;
   
  }
  .header-perfil{
    justify-self: flex-end;
    display: flex;
    max-width: 30% ;
    max-height: 60px;
    margin-right: 20px;
   box-sizing: border-box;
  }
  .header-perfil p{
    font-size: 12px;
    text-align: right;
 
  }
  .header-perfil img{
    width: 37px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .titulo-detalhes{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  .titulo-detalhes h2{
    width: 75%;
    justify-self: flex-start;
  }
  .trabalho-titulo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 20%;
  }

  .trabalho-titulo button{
    cursor: pointer;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    height: 30px ;
    background-color: #ED7839;
    color: #eee;
  }
  .trabalho-titulo .download{
    width: 120px;
  }
  .trabalho-titulo .fav{
    width: 43px ;
  }
  .trabalho-titulo .doi{
    width: 43px ;
  }
  .trabalho-titulo img{
    
    width: 18px;
    height: 18px;
  }
  .detalhes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  
  }
  .imagem-video{
      width: 75%;
    }
  .detalhes-container{
    max-width: 20%;
    max-height: 100%;
    border: 1px solid #e7e7e7;
    margin-left: 10px;
    border-radius: 4px;
    
  }
  .detalhes-container h3{
    background-color: #f8dacb;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
  }
  .texto-detalhes{
    height: 380px;
    overflow: auto;
    margin: 20px;
    padding: 5px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }

  .btn-show-more {
    font-size: 14px;
    font-weight: bold;
    color: #ED7839;
    cursor: pointer;
    margin: 0px 10px 0 ;
  }

  .container-resumo{
    
    left: 840px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  #e7e7e7;
  }
  .container-resumo h3{
    margin: 0;
    padding: 5px;
    background-color: #f8dacb;
   
    
  }
  .container-resumo p{
    padding: 10px;
  }

  .container-form{
    border: none;
    margin-top: 0;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .container-discussoes{
    margin-top: 20px;
    border: 1px solid #e7e7e7;
    box-shadow: 5px 5px 5px  #e7e7e7;
    width: 100%;
    border-radius: 3px;
  }
  .title-topicos{
    background-color: #f8dacb;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
  }
  .btn-create-topic{
    cursor: pointer;
    letter-spacing: 1px;
    width: 130px;
    padding: 10px;
    margin-top: -14px;
    text-align: center;
    background-color: #ED7839;
    color: #eee;
    border-radius: 4px; 

  }
  .btn-create-topic:hover{
    background-color: #444444;
    color: #eee;
  }
  .divisoria{
    border: 1px solid #e7e7e7;
    margin-top: 60px;
    width: 90%;
  }
  .img-icons{
    margin: 10px;
    width: 50px;
    height: 50px;
  }
  .container-form h5{
    font-size: 14px;
    color: #ED7839;
    margin: 20px;
    text-align: center;
    font-weight: bolder;
  }
  .formulario{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    margin:10px;
    width: 100%;
  }
  .formulario label{
    color: #ED7839;
    font-weight: bold;
  }
  .formulario input{
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .formulario #conteudo{
    height: 111px;
    
  }
  .formulario .botao-enviar{
    display: flex; 
    justify-content: flex-end;
    background-color: #CCCCCC;
    border-radius: 3px;
  }
  .formulario button{
  
    cursor: pointer;
    background-color: #ED7839;
    color: #e7e7e7;
    margin-top: 0;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 200px;
  }

  .feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgba($color: #c2c3c4, $alpha: 0.5);
    width: 50%;
    height: 100px;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    color: #ED7839;
  }

  .cards-respondido{
    
    display: flex;
    flex-direction: column;
    
    margin: 5px;
    margin-top: 20px;
    font-size: 14px;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    box-shadow: 5px 5px 5px  #e7e7e7;
    padding: 10px;
    cursor: pointer;
  }
  .cards-respondido h4{
    color:#ED7839;
    width: 100%;
    
  }
  .cards-respondido p{
    padding: 10px;
  }
  .cards-respondido i{
    margin-left: 10px;
    color: #ED7839;
  }
  .cards-respondido span{
    font-size: 10px;
    margin-left: 5px;
  }
  .comments-container{
    margin-top: 10px;
    background-color: #eee;
    border-top: 1px solid #888;  
    border-radius: 3px 3px 0px 0px;
  }
  .comments-container .head-comments{
    display: flex;
    justify-content: space-between;
  }
  .comments-container .head-comments p {
    font-weight: bolder;
  }
  .comments-container h6{
    margin: 10px;
    color:#ED7839 ;
    font-size: 14px;
  }
  .footer{
    margin-top: 20px;
  }
  .footer img{
    width: 100%;
    height: 181px;
    border: 1px solid #e7e7e7;
    bottom: 0;
  }

}