<div class="content" role="main">
  <!--BARRA FIXA MENU LATERAL-->
  <div id="required-elements">
    <div class="cabecalho-elementos">

    </div>
    <div class="corpo">
    <!--CABEÇALHO-->
        <aside class="aside">
          <h3>SLACA 2019</h3>
          <img src="./assets/dewey 4.png" alt="Logo do Evento"/>
          <div class="aside-menu">
            <p>Apresentação</p>
            <p>Comitês</p>
            <p>Autores</p>
            <p>Trabalhos</p>
            <p>Contato</p>
          </div>

        </aside>
        <header class="header">
          <div class="header-titulo">
            <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
            <h3>Anais do Simpósio Latino Americano de Ciências de Alimentos</h3>
            <p>ISSN: 1234-5678</p>
          </div>

          <button><img src="./assets/language image.png"/>PT,BR</button>
          <div class="header-perfil">
            <img src="" alt="Foto do perfil"/>
            <p>Bem vindo!</p>
            <p>example@email.com</p>
          </div>
        </header>
        <div class="titulo-detalhes">
          <div class="trabalho-titulo">
            <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
            <button class="download">Download</button>
            <button class="fav">Fav</button>
            <button class="doi"><img src="./assets/doi.png" alt=""></button>
          </div>
        <!--DETALHES CONTAINER-->
          <div class="detalhes">
            <img src="./assets/dewey 1.svg" alt="Video apresentação "/>
            <div class="detalhes-container">
              <h3>Detalhes</h3>
              <div class="texto-detalhes">
                <p>Tipo de Apresentação: Pôster
                Eixo temático: Alimentação e saúde (AS) 
                Palavras-chaves: Alimentos funcionais, alimentação escolar.
                </p>
                <p>Autores:
                Galileo Galilei¹
                Berta Lange de Morretes²
                Isaac Newton³
                Cesar Lattes¹
                Stephen Hawking⁴
                </p>
                <p>
                 ¹Universidade Estadual de Campinas
                ²Universidade de São Paulo
                ³Instituto Nacional de Pesquisas Espaciais
                ⁴Universidade Federal do Rio de Janeiro
              </p>
              <p>
                 ¹Universidade Estadual de Campinas
                ²Universidade de São Paulo
                ³Instituto Nacional de Pesquisas Espaciais
                ⁴Universidade Federal do Rio de Janeiro
              </p>
              <p>Autores:
                Galileo Galilei¹
                Berta Lange de Morretes²
                Isaac Newton³
                Cesar Lattes¹
                Stephen Hawking⁴
                </p>
              </div>
            </div>
          </div>
        </div>
       
      
        <!--RESUMO-->
      <div class="container-resumo">
        <h3>Resumo</h3>
            <p *ngIf="mostrarResumoVisivel" class="resumo resumo-visivel">
              Resumo: Durante a idade escolar, a alimentação e a oferta de uma nutrição adequada são fundamentais para a manutenção do desenvolvimento das crianças. Por conta disso, o Programa Nacional de Alimentação Escolar (PNAE) evidencia-se como uma política governamental nacional para assegurar uma alimentação adequada aos estudantes do ensino público. 
              A inclusão de preparações funcionais, no contexto da alimentação escolar, pode agregar valor nutricional e reduzir riscos de futuras doenças. Dessa forma, o presente trabalho tem como objetivo avaliar a aceitabilidade de preparações funcionais...
            </p>
            <p *ngIf="!mostrarResumoVisivel" class="resumo resumo-oculto">
              Resumo: Durante a idade escolar, a alimentação e a oferta de uma nutrição adequada são fundamentais para a manutenção do desenvolvimento das crianças. Por conta disso, o Programa Nacional de Alimentação Escolar (PNAE) evidencia-se como uma política governamental nacional para assegurar uma alimentação adequada aos estudantes do ensino público. 
              A inclusão de preparações funcionais, no contexto da alimentação escolar, pode agregar valor nutricional e reduzir riscos de futuras doenças. Dessa forma, o presente trabalho tem como objetivo avaliar a aceitabilidade de preparações funcionais desenvolvidas para escolares, certificando a sua possibilidade de inserção nos cardápios, cooperando com o PNAE. As preparações foram elaboradas a partir de receitas previamente aceitas e distribuídas aos escolares, acrescidas de ingredientes funcionais para potencializar sua capacidade nutricional. 
              Com isso, foram preparadas no "Departamento de Alimentação Escolar do CEASA/Campinas", sendo elas: bolo de laranja com biomassa de banana verde, creme de abacate com cacau 32%, gelatina com suco de uva integral e salada de fruta com yacon. Determinou-se a composição centesimal de cada preparação funcional, assim como, os compostos fenólicos totais e a capacidade antioxidante em comparação com as versões convencionais. Utilizou-se o método de Folin-Ciocalteau para a determinação de compostos fenólicos totais e a capacidade antioxidante a partir do ABTS, FRAP e DPPH. De acordo com as comparações, a gelatina e o creme de abacate apresentaram diferenças significativas entre a preparação funcional e a convencional. 
              Sendo o creme de abacate com cacau 32% com maior teor de compostos fenólicos e atividade antioxidante. Também avaliou-se a segurança microbiológica, na qual todas as preparações demonstraram-se adequadas às normas da RDC nº12. E, a capacidade prebiótica da yacon e da biomassa de banana verde utilizadas. Para isso, observou-se o crescimento de B. animalis BB12 e L. acidophilus LA5 em meio MRS, o qual substituiu-se a fonte de açúcar pela yacon e biomassa de banana verde. Com isso, em ambas as fontes houve crescimento de probióticos, expressando o potencial prebiótico. Para a análise sensorial utilizou-se o método Resto Ingestão e Escala Hedônica, resultando em duas preparações funcionais aceitas. Os alimentos avaliados apresentam propriedades funcionais, entretanto, a aceitação dos escolares demanda uma educação alimentar e nutricional combinada com a introdução de novos alimentos, a fim de encorajar a criação de novos hábitos alimentares.
            </p>
  
            <a (click)="toggleResumo()" class="btn-show-more">
              ver mais  
            </a>
      </div>
      <!--DISCUSSOES-->
        <div class="container-discussoes">
          <h3 class="title-topicos">Discussões</h3> 
          <!--container do formulario-->
          <div class="container-form">
            
            <h5>Compartihe suas ideias ou dúvidas com os autores!</h5>
            
            <div class="icons">
              <img class="img-icons" src="./assets/icone1.png" alt="">
              <img class="img-icons" src="./assets/icone2.png" alt="">
              <img class="img-icons" src="./assets/icone3.png" alt="">
            </div>
            <p>Sabia que o maior estímulo ao desenvolvimento cientifico e cultural é a curiosidade?</p>
            <!-- Botão criar tópico -->
            <div class="divisoria"></div>
            <a class="btn-create-topic" (click)="toggleFormulario()">criar tópico</a>
            <!--FOrmulario-->
            <form class="formulario" *ngIf="mostrarFormulario" (ngSubmit)="onSubmitForm($event)">
              <label for="topico">Assunto:</label>
              <input  [(ngModel)]="assunto" required maxlength="100" class="subject" placeholder="Defina um tópico sucinto para notificar os autores..." name="assunto" id="assunto">
            
              <label for="conteudo">Conteúdo:</label>
              <input  [(ngModel)]="conteudo" required placeholder="" name="conteudo" id="conteudo" />
              <div class="botao-enviar">
                <button class="btn-enviar" (click)="toggleMensagem()"  type="submit">Enviar</button>
              </div>
              
              
            
            </form>
            <!--Mensagem submit-->
            <p *ngIf="mostrarMensagem" class="feedback">Aguardando feedback dos autores</p>  
          </div>
           <!--CARTOES RESPONDIDOS QUE EXPANDEM-->
              <div class="cards-respondido" >
                <div (click)="toggleComentario()"  class="answered-topic" >
                  <h4   class="ops-topic-subject">Assunto da pergunta aparece aqui</h4>
        
                  <p>Exemplo de conteúdo de conteúdo aparece aqui</p>
                  <i class="{{ iconName }}"></i><span>1 Resposta</span>
                  <div class="comments-container" *ngIf="mostrarComentarios">
                    <div class="head-comments">
                        <p>Julio </p>
                        <h6>
                          Autor
                        </h6>
                    </div>

                    <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                  </div>
                </div>
              </div>
              <div class="cards-respondido" >
                <div  >
                  <h4   >Assunto da pergunta aparece aqui</h4>
        
                  <p>Exemplo de conteúdo de conteúdo aparece aqui</p>
                  <i class="{{ iconName }}"></i><span>1 Resposta</span>

                </div>
              </div>
        </div>
        


        <div class="footer">
          <img src="./assets/imagem - footer.png">
        </div>
    </div>
    

  </div>

